    ______               __             __
   / ____/_  _____  ____/ /__  _   ____/ /___
  / __/ / / / / _ \/ __  / _ \| | / / _/ / _ \
 / /   / /_/ /  __/ /_/ /  __/| |/ / /_/ /  __/
/_/    \__, /\___/\__,_/\___(_)___/\__/_/\___/
      /____/

    🔥 Hot Reload Development Server v{{.Version}}

Entry Point: {{.EntryPoint}}
Watch Paths: {{.WatchPaths}}
Ignoring:    {{.IgnorePaths}}
{{if .TemplatePattern}}Templates:   {{.TemplatePattern}}{{end}}
Build:       {{.BuildCommand}} {{.BuildArgs}}
{{if .CustomEnv}}Environment: {{.CustomEnv}}{{end}}

Server started at: {{.StartTime}}
{{if .ServerURL}}URL: {{.ServerURL}}{{end}}

Press Ctrl+C to exit